.scene {
	perspective: 800px;
	perspective-origin: 50% 200px;
	margin-top:200px;
	margin-left:200px;
}

.cube {
	position: relative;
	width: 400px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 400px;
	height: 400px;
}

.back {
	transform: translateZ(-200px) rotateY(180deg);
	background-color:red;
	background-image: url('/images/dev-megha.png');
	background-size: 400px 400px;		
}
.right {
	transform: rotateY(-270deg) translateX(200px);
	transform-origin: top right;
	background-color:green;
}
.left {
	transform: rotateY(270deg) translateX(-200px);
	transform-origin: center left;
	background-color:blue;
	background-image: url('/images/navya-aryav.png');
	background-size: 400px 400px;	
}
.top {
	transform: rotateX(-90deg) translateY(-200px);
	transform-origin: top center;
	background-color:gray;
}
.bottom {
	transform: rotateX(90deg) translateY(200px);
	transform-origin: bottom center;
	background-color:yellow;
}
.front {
	transform: translateZ(200px);
	background-color:orange;
	background-image: url('/images/dev_aryav.jpg');
	background-size: 400px 400px;
}
@-webkit-keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}

body {
	background-color:black;
}
