.scene {
	perspective: 800px;
	perspective-origin: 420px 420px;
	width: 100%;
	height: 100%;
}

.cube {
	position: relative;
	width: 420px;
	height: 420px;
	transform-style: preserve-3d;
	transform-origin: center center center;
}

.cube div {
	position: absolute;
	width: 420px;
	height: 420px;
}

.back {
	transform: translateZ(-210px) rotateY(180deg);
	background-size: 420px 420px;
	opacity: 1;		
}

.right {
	transform: rotateY(-270deg) translateX(210px);
	transform-origin: top right;

	background-size: 420px 420px;
	opacity: 1;	
}

.left {
	transform: rotateY(270deg) translateX(-210px);
	transform-origin: center left;
	
	background-size: 420px 420px;
	opacity: 1;	
}

.top {
	transform: rotateX(90deg) translateY(-210px);
	transform-origin: top center;
	opacity: 1;
}

.bottom {
	transform: rotateX(-90deg) translateY(210px);
	transform-origin: bottom center;

	opacity: 1;
}

.front {
	transform: translateZ(210px);
	
	background-size: 420px 420px;
	opacity: 1;
}

/*
@-webkit-keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}
*/
body {
	background-color:black;
	background-image: url('../images/background.jpg');
}

.faceContent {
	margin: 10px 10px 10px 10px;
	width: 400px;
	height: 400px;
}

