.scene {
	perspective: 800px;
	perspective-origin: 50% 100px;
	margin-top:100px;
	margin-left:100px;
}

.cube {
	position: relative;
	width: 600px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 600px;
	height: 600px;
}

.back {
	transform: translateZ(-300px) rotateY(180deg);
	background-color:red;
}
.right {
	transform: rotateY(-270deg) translateX(300px);
	transform-origin: top right;
	background-color:green;
}
.left {
	transform: rotateY(270deg) translateX(-300px);
	transform-origin: center left;
	background-color:blue;
}
.top {
	transform: rotateX(-90deg) translateY(-300px);
	transform-origin: top center;
	background-color:gray;
}
.bottom {
	transform: rotateX(90deg) translateY(300px);
	transform-origin: bottom center;
	background-color:yellow;
}
.front {
	transform: translateZ(300px);
	background-color:orange;
}
@-webkit-keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}
