.scene {
	perspective: 800px;
	perspective-origin: 410px 410px;
	width: 100%;
	height: 100%;
}

.cube {
	position: relative;
	width: 410px;
	height: 410px;
	transform-style: preserve-3d;
	transform-origin: center center center;
}

.cube div {
	position: absolute;
	width: 410px;
	height: 410px;
}

.back {
	transform: translateZ(-205px) rotateY(180deg);
	background-size: 410px 410px;
	opacity: 1;		
}
.right {
	transform: rotateY(-270deg) translateX(205px);
	transform-origin: top right;

	background-size: 410px 410px;
	opacity: 1;	
}
.left {
	transform: rotateY(270deg) translateX(-205px);
	transform-origin: center left;
	
	background-size: 410px 410px;
	opacity: 1;	
}
.top {
	transform: rotateX(90deg) translateY(-205px);
	transform-origin: top center;
	opacity: 1;
}
.bottom {
	transform: rotateX(-90deg) translateY(205px);
	transform-origin: bottom center;

	opacity: 1;
}
.front {
	transform: translateZ(205px);
	
	background-size: 410px 410px;
	opacity: 1;
}

/*
@-webkit-keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 5s infinite linear;
}
*/
body {
	background-color:black;
}

.frontview {
	transform: rotateY(0);
}

.leftview {
	transform: rotateY(-90deg);
}

.backview {
	transform: rotateY(-180deg);
}

.rightview {
	transform: rotateY(90deg);
}

.topview {
	transform: rotateX(90deg);
}

.botomview {
	transform: rotateX(-90deg);
}

.faceContent {
	margin: 5px 5px 5px 5px;
	width: 400px;
	height: 400px;
}
/*
#frontContent {
	width:400px;height:400px;
	overflow-y:scroll; 
	margin:40px auto;
} */
